body {
  background-image: radial-gradient(#4C4C4C, #FF6501);
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: #FF6501;
  text-shadow: 2px 2px #000;
}

.full{
  display: none;
}

h6{
  float: right;
  display: none;
}

section{
  font-size: 0.5em;
}

section a{
  color: white;
  text-shadow: none;
}

#settings{
  font-size: 0.3em;
  border: 1px solid black;
  background-image: url("gear.png");
}

.success{
  color: #5cb85c;
}

.danger{
  color: #d9534f;
}

img{
  width: 100px;
  height: 60px;
  margin-top: 2px;
}
