body {
  background-image: radial-gradient(#4C4C4C, #FF6501);
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: #FF6501;
  text-shadow: 2px 2px #000;
}

.full{
  display: none;
}

h6{
  font-size: 9px;
  margin: auto;
  top: 0;
  color: black;  
}

section{
  font-size: 0.5em;
}

section a{
  color: white;
  text-shadow: none;
}

#settings{
  background: url("gear.png") no-repeat top center;
  background-size: 15px 15px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;}

.success{
  color: #5cb85c;
}

.danger{
  color: #f44336;
}

img{
  width: 100px;
  height: 60px;
  margin-top: 2px;
}
