body {
  margin-left: 10px;
  overflow: auto;
  background-color:#3D9970;
}

form{
  width: 50%;
  float: left;
}

#sub{
  position: absolute;
  left: 40%;
  margin-right: -50%;
  transform: translate(-50%, -0%);
  width: auto;
  margin-top: 70px;
}
  
a{
  text-decoration: none;
  float: right;
  font-size: 0.7em; 
  margin-right: 50px;
}
