body {
  margin-left: 10px;
  overflow: auto;
  background-color:#3D9970;
}

form{
  width: 50%;
  float: left;
}

#sub{
  position: absolute;
  left: 38%;
  margin-right: -50%;
  transform: translate(-50%, -0%);
  width: auto;
  margin-top: 23px;
  margin-bottom: 1.5px;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

a{
  text-decoration: none;
  float: right;
  font-size: 0.7em; 
  margin-right: 50px;
}

h6{
  background: rgba(178,235,242,0.5);
}
